# <font color=pink> PYTHON PARA DATA SCIENCE - PANDAS
---

# 1.3 Trabalhando com dados

In [28]:
import pandas as pd
#pd.set_option('display.max_rows', 1000) ou pd.options.display.max_rows = 1000
#configura o dataframe para ser apresentado o máximo de suas linhas
#pd.set_option('display.max_columns', 100) ou pd.set_option.display.max_columns = 1000
#configura o dataframe para ser apresentado o máximo de suas linhas

> display.max_rows e display.max_columns define o número máximo de linhas e colunas exibidas quando um quadro é bem impresso. As linhas truncadas são substituídas por reticências.

In [17]:
dataset = pd.read_csv('db.csv', sep=';')
#a função do pandas read_csv lê um arquivo de valores separados por vírgula (csv) no dataFrame
#o atributo sep irá separar o dataset em vírgula

In [22]:
#dataset
dataset.head(5)

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

>O pandas fornece uma estrutura de dados tabulares bidimensionais, de tamanho variável e potencialmente heterogêneos, os quais são chamados de dataFrame
<

In [30]:
dataset.dtypes #apresenta os tipos de todos os elementos do dataframe

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [33]:
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

> O objetivo do pandas.describe() é gerar estatísticas descritivas contendo informações sobre:
<ul>
    <li>count = conta o número de informações não nulas</li>
    <li> mean = retorna a média dos valores</li>
    <li> std = calcula o desvio padrão dos valores</li>
    <li> min = retorna o mínimo dos valores</li>
    <li> 50% divide os valores na metade</li>
    <li> 25% percentual inferior</li>
    <li>75% percentual superior</li>
</ul>

In [35]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

> O método info imprime informações sobre um dataframe, incluindo o índice, colunas, dtype, valores não nulos e uso de memória

# <font color=pink> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [ ]:
() #tupla vazia

In [36]:
1, 2, 3

(1, 2, 3)

In [37]:
nome = 'passat'
valor = 15300
(nome, valor)

('passat', 15300)

In [ ]:
['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [38]:
nomes_carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [40]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [41]:
type(nomes_carros)

tuple

# 2.2 Seleções em tuplas

In [43]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [44]:
nomes_carros[0]

'Jetta Variant'

In [45]:
nomes_carros[-1]

'DS5'

In [46]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [47]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros
#tupla com tupla dentro

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [48]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [49]:
nomes_carros[-1][1]

'Gol'

# 2.3 Iterando em tuplas

In [50]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [51]:
for i in nomes_carros:
    print(i)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [52]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [53]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros
#atribui cada elemento da tupla a uma variável

In [54]:
carro_1

'Jetta Variant'

In [55]:
carro_2

'Passat'

In [56]:
carro_3

'Crossfox'

In [57]:
carro_4

'DS5'

In [60]:
_, A, _, B = nomes_carros

In [61]:
A

'Passat'

In [62]:
B

'DS5'

In [63]:
_, C, *_ = nomes_carros

In [64]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [65]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [66]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [67]:
zip(carros, valores)

In [68]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

>A função zip() retorna um objeto zip, que é um iterador de tuplas onde o primeiro elemento em cada interador passado é emparelhado e, sem seguida, o segundo item em cada iterador é emparelhado, sucessivamente

In [69]:
for i in zip(carros, valores):
    print(i)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [71]:
#Desempacotando um zip
for carro, valor in zip(carros, valores):
    print(carro, valor)
#para a variável carro, ele colocou todos os elementos do índice 0 de cada uma das tuplas

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [72]:
for carro, valor in zip(carros, valores):
    if(valor>100000):
        print(carro)

Passat
DS5

# <font color=pink> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [73]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [74]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [76]:
carros.index('Passat')
#retorna o index do elemento Passat

1

In [77]:
valores[carros.index('Passat')]
#retorna o elemento da lista de valores onde o indice é carros.index('Passat') que é = 1

106161.94

In [80]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
#dicionários agrupam dados: chave -> valor onde a chave é o carro e o valor é o valor do carro
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [81]:
type(dados)

dict

### Criando dicionários com *zip()*

In [82]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [84]:
dados = dict(zip(carros, valores))
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

# 3.2 Operações com dicionários

In [85]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [87]:
dados['Passat']
#Para acessar um dado de um dicionário, basta informar a sua chave que ele retorna o valor

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [88]:
'Passat' in dados

True

In [89]:
'Fusca' in dados

False

In [90]:
'Fusca' not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [91]:
len(dados)
#retorna a quantidade de pares (chave, valor)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [92]:
dados['DS5'] = 124549.07
#adicionar um novo valor ao meu dicionário

In [93]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [94]:
del dados['Passat']
#deleta um par(chave, valor) do dicionário

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [ ]:
dados

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [95]:
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [98]:
dados.update({'Passat': 106161.94, 'Fusca': 150000})
#atualizar o dicionário, colocando o Passat novamente lá dentro e acrescentando o fusca
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.94,
 'Fusca': 150000}

## *dict.copy()*

Cria uma cópia do dicionário.

In [111]:
dadosCopy = dados.copy()
#com essa função, qualquer alteração sobre dadosCopy não serão refletidas em dados
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.94,
 'Fusca': 150000}

In [112]:
del dadosCopy['Fusca']
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.94}

In [113]:
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.94,
 'Fusca': 150000}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [115]:
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.94}

In [116]:
dadosCopy.pop('Passat')

106161.94

In [117]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [118]:
#dadosCopy.pop('Passat')

KeyError: 'Passat'

In [119]:
dadosCopy.pop('Passat', 'chave não encontrada')
#informa uma exceção a ser mostrada caso não encontre a chave no dicionário

'chave não encontrada'

In [120]:
dadosCopy.pop('DS5', 'chave não encontrada')
#nesse caso ele encontrou a chave no dicionário e mostrou o seu valor eliminado

124549.07

In [121]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16}

## *dict.clear()*

Remove todos os itens do dicionário.

In [122]:
dadosCopy.clear()
#limpa o dicionário inteiro, removendo todos os pares (chave, valor)

In [123]:
dadosCopy

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [129]:
dados = {'Crossfox': 72832.16, 'Fusca': 150000, 'Jetta Variant': 88078.64, 'Passat': 106161.94}
dados

{'Crossfox': 72832.16,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

In [130]:
dados.keys()
#retorna apenas as chaves do dicionário

dict_keys(['Crossfox', 'Fusca', 'Jetta Variant', 'Passat'])

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [134]:
dados.values()
#retorna apenas os valores do dicionário

dict_values([72832.16, 150000, 88078.64, 106161.94])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [135]:
dados.items()
#cria uma lista de tuplas associadas a cada chave com seu respectivo valor

dict_items([('Crossfox', 72832.16), ('Fusca', 150000), ('Jetta Variant', 88078.64), ('Passat', 106161.94)])

In [136]:
for i in dados.items():
    print(i)

('Crossfox', 72832.16)
('Fusca', 150000)
('Jetta Variant', 88078.64)
('Passat', 106161.94)

In [138]:
for key, value in dados.items():
    print(key, value)

Crossfox 72832.16
Fusca 150000
Jetta Variant 88078.64
Passat 106161.94

In [139]:
for key, value in dados.items():
    if (value > 100000):
        print(key, value)

Fusca 150000
Passat 106161.94

# <font color=pink> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [144]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [149]:
#somatório sem built-in function
valores = []
for i in dados.values():
    valores.append(i)
valores
#criar uma lista com os valores do dicionário dados sem built-in function

[88078.64, 106161.94, 72832.16]

In [150]:
soma = 0
for i in dados.values():
    soma += valor
soma
#soma todos os elementos da lista valor sem buil-in function

373647.21

In [152]:
list(dados.values())
#criar uma lista com os valores do dicionário dados com built-in function

[88078.64, 106161.94, 72832.16]

In [154]:
sum(dados.values())
#soma todos os elementos da lista valor com buil-in function

267072.74

In [155]:
sum(dados.values(), 10)
#começa a somar a partir do valor 10

267082.74

In [156]:
help(print)
#fornece ajuda sobre determinada função

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [157]:
def calculaMedia():
    valor = (1+2+3)/3
    print(valor)

In [158]:
calculaMedia()

2.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [159]:
def calculaMedia(number_1, number_2, number_3):
    media = (number_1+number_2+number_3)/3
    print(media)

In [160]:
calculaMedia(10, 10, 10)

10.0

In [161]:
def calculaMedia(lista):
    media = sum(lista)/len(lista)
    print(media)

In [164]:
resultado = calculaMedia([30, 20, 10])

20.0

In [165]:
resultado

In [167]:
type(resultado)

NoneType

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [169]:
def calculaMedia(lista):
    media = sum(lista)/len(lista)
    return media

In [179]:
calculaMedia([1, 2, 3, 4, 5, 6, 7, 8])

4.5

In [180]:
resultado = calculaMedia([1, 2, 3, 4, 5, 6, 7, 8])

In [181]:
resultado

4.5

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [182]:
def calculaMedia(lista):
    media = sum(lista)/len(lista)
    return (media, len(lista))

In [183]:
calculaMedia([1, 2, 3, 4, 5, 6, 7, 8])

(4.5, 8)

In [184]:
resultado, n = calculaMedia([1, 2, 3, 4, 5, 6, 7, 8])

In [185]:
resultado

4.5

In [186]:
n

8

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

### Criando uma Series a partir de uma lista

### Criando um DataFrame a partir de uma lista de dicionários

In [ ]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

### Criando um DataFrame a partir de um dicionário

In [ ]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

### Criando um DataFrame a partir de uma arquivo externo

# 5.2 Seleções com DataFrames

### Selecionando colunas

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

# 5.3 Queries com DataFrames

### Utilizando o método query

# 5.4 Iterando com DataFrames

# 5.5 Tratamento de dados